.container {
  padding: 50px 16px;
  background-color: white;
  z-index: -2;
}

.logo img {
  position: absolute;
  width: 180px;
  top: 70px;
  left: 10%;
  height: 50px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  top: 10px;
  left: 400px;
}

li a:hover {
  color: green;
}

.photo img {
  position: absolute;
  width: 102%;
  height: 85%;
  left: -2%;
  top: 15%;
}

.word {
  position: absolute;
  font-size: 210%;
  text-align: left;
  color: white;
  top: 40%;
  left: 10%;
}

.gojek img {
  position: absolute;
  border-radius: 10%;
  height: 60%;
  left: 5%;
  top: 115%;
}

.meet {
  position: absolute;
  top: 120%;
  left: 60%;
}

.meet h1 {
  font-size: 360%;
  text-align: left;
}

.meet p {
  text-align: left;
  font-size: 140%;
}

.arrow {
  position: absolute;
  top: 160%;
  left: 60%;
  cursor: pointer;
}

.arrow h4 {
  font-size: 130%;
  color: green;
}

.arrow-1 i {
  position: absolute;
  color: green;
  width: 10px;
  height: 50%;
  top: 163.2%;
  left: 68%;
  cursor: pointer;
}
